/* eslint-disable */
<template>
  <div class="backgrounddiv">
     <div class="topdiv"> 
      <div class="captiondiv" :style="{ 'background-color': dynamicColor }">
        <label class="logo-link">{{name_I18n(tittle)}}</label>
      </div>
      <div class="btndiv">
        <input type="button" @click="onCloseBtnClick()" class="window-close-btn"/>
      </div>
    </div>
    <div class="maindiv">
        <b-form-textarea id="textarea" ref="textareaRef" v-model="itemData.text" placeholder="" rows="30" max-rows="50" no-resize no-auto-shrink autofocus @blur="onBlur()"></b-form-textarea>
    </div>
    <!--<iframe src="asserts/clock.mp3" allow="autoplay" style="display:none" id="iframeAudio"/>-->
    <div class="tipsdiv" v-if="alarmButtonPress">
      <b-form-input class="inputInfo" id="inputForm" ref="inpufFormRef" v-model="inputVal" placeholder="" size="sm" type="number" no-wheel autofocus lazy @blur="onAlarmBlur()"></b-form-input>
      <div class="alarmInfo">
        <span>{{$t('minutes later remind me')}}</span>
      </div>
    </div>
    <div class="bottomdiv">
        <img class="alarm-image" v-bind:src="alarmImage" alt="" @click="onAlarmClick()" :style="{ 'background-color': alarmColorVal }" v-tooltip="infoTip">
    </div>
  </div>
</template>

<script>
import i18n from '@/i18n'
export default {
  metaInfo: {
        title: 'NoteFrame', // set a title
        meta: [{                 // set meta
          name: 'keyWords',
          content: 'My Example App'
         }],
        htmlAttrs: {
          lang: 'zh-CN'
        }
  },
  data () {
    return {
      alarmImage: 'asserts/alarm-normal.png',
      tittle: '',
      alarmButtonPress: false,
      alarmColorVal: '',
      alarmBlurTrigger: false,
      alarmAudio: undefined,
      dynamicColor: 'initial',
      dynamicTimeId: 0,
      inputVal: '0',
      oldInputVal: '',
      itemData: {},
      isNotifyAlarm: false
    }
  },
  mounted () {
    this.init()
  },
  beforeDestroy() {

  },
  computed: {
    name_I18n() {
      return function(name) {
        var n = name.lastIndexOf("(")
        var ret = this.$t(name)
        if(n >= 0) {
          var name1 = name.substr(0, n)
          var name2 = name.substr(n)
          ret = this.$t(name1) + name2
        }
        return ret
      }
    },
    infoTip() {
      console.log(this.itemData)
      if(this.itemData.needclock)
        return this.$t('Alarm clock is working, it will remind you at ') + this.itemData.alarmtime.toLocaleString()
      else
        return this.$t('Set a reminder time')
    }
  },
  methods: {
    init() {
      this.$WebSDK('win.resize', 256, 231)
      this.$WebSDK('win.needSystemMaximize', false)
      this.$WebSDK('win.needSystemMinimize', true)
      this.$WebSDK('win.setResizeBorderWidth', 0)
      //this.$WebSDK('win.show')

      window.onresize = () => {
        this.setCaptionArea()
      }
      this.setCaptionArea()
      if(this.alarmAudio == undefined) {
        this.alarmAudio = new Audio('asserts/clock.mp3')
      }
      this.$WebSDK('win.regEvent', 'MouseEnter', () => {
        if(this.isNotifyAlarm) { 
          this.alarmAudio.pause()
          this.alarmAudio.currentTime = 0;
          clearInterval(this.dynamicTimeId)
          this.dynamicColor = 'initial'
          this.isNotifyAlarm = false
        }
      }, this)
      // eslint-disable-next-line
      this.$WebSDK('ipc.addWindowEventListener', ({ uri, data }) => {
        switch (uri) {
          case this.$DataUri.NoteFrame_SetData: {
            let obj = JSON.parse(data)
            if(JSON.stringify(this.itemData) == '{}') {
              this.itemData = obj
              this.tittle = this.itemData.name
            }
            else if(obj.hash == this.itemData.hash){
              this.itemData = obj
              this.tittle = this.itemData.name
              this.$forceUpdate()
            }
            break
          }
          case this.$DataUri.NoteFrame_ShowWindow:{
            let obj = JSON.parse(data)
            if(obj.hash == this.itemData.hash){
              this.$WebSDK('win.move', this.itemData.x, this.itemData.y)
              this.$WebSDK('win.bringToFront')
              this.$WebSDK('win.show')
            }
            break
          }
          case this.$DataUri.NoteFrame_DoCloseWindow: {
            let obj = JSON.parse(data)
            if(obj.hash == this.itemData.hash){
              this.saveData()
              this.$WebSDK('ipc.dispatchWindowEvent', this.$DataUri.NoteFrame_CloseWindow, JSON.stringify(this.itemData))
              this.$WebSDK('win.close')
            }
            break
          }
          case this.$DataUri.NoteFrame_AlwaysOnTop: {
            let obj = JSON.parse(data)
            if(obj.hash == this.itemData.hash){
              this.$WebSDK('win.needAlwaysFront', true)
            }
            break   
          }
          case this.$DataUri.NoteFrame_CancelAlwaysOnTop: {
            let obj = JSON.parse(data)
            if(obj.hash == this.itemData.hash){
              this.$WebSDK('win.needAlwaysFront', false)
            }
            break
          }
          case this.$DataUri.NoteFrame_NotifyClockAlarm: {
            let obj = JSON.parse(data)
            if(obj.hash == this.itemData.hash){
              this.itemData.needclock = obj.needclock
              this.onNotifyClockAlarm()
            }
            break
          }
          case this.$DataUri.App_CloseAllWindow:
            this.saveData()
            this.$WebSDK('ipc.dispatchWindowEvent', this.$DataUri.NoteFrame_CloseWindow, JSON.stringify(this.itemData))
            this.$WebSDK('win.close')
            break
          case this.$DataUri.APP_LanguageChange:
            i18n.setLocale(data)
            break
          }
      })
      document.body.oncontextmenu = (e) => {
          return false
      }
    },
    saveData() { //数据更新,需只更新变化信息,当前的item并不为最新
      this.itemData.text = this.$refs.textareaRef.value
      this.$WebSDK('win.size').then(r => {
        this.itemData.x = r[0]
        this.itemData.y = r[1]
        this.$WebSDK('ipc.dispatchWindowEvent', this.$DataUri.NoteFrame_SaveData, JSON.stringify(this.itemData))
      })
    },
    setCaptionArea () {
      let areaTop = [0, 0, document.body.offsetWidth - 30,  30]
      this.$WebSDK('win.setDragArea', [areaTop])
    },
    onCloseBtnClick(event) {
      this.saveData()
      this.$WebSDK('ipc.dispatchWindowEvent', this.$DataUri.NoteFrame_HideWindow, JSON.stringify(this.itemData))
      this.$WebSDK('win.hide')
    },
    onBlur(event) {
      this.saveData()
    },
    onAlarmClick(event) {
      if(!this.alarmButtonPress && !this.alarmBlurTrigger)
      {
        this.alarmButtonPress = true
        this.oldInputVal = this.inputVal
        this.alarmColorVal = 'rgb(122, 122, 63)'
        this.alarmImage = 'asserts/alarm-normal.png'
      }
    },
    onAlarmBlur(event) {
      if(this.inputVal != this.oldInputVal) {
        this.itemData.needclock = true
        this.setAlarmTime()
        this.alarmImage = 'asserts/alarm-working.png'
      } 
      else {
        if(parseInt(this.inputVal) == 0) {
          this.itemData.needclock = false
          this.alarmImage = 'asserts/alarm-normal.png'
        }
        else {
          if(this.itemData.needclock) {
            this.alarmImage = 'asserts/alarm-working.png'
          }
          else {
            this.itemData.needclock = true
            this.setAlarmTime()
            this.alarmImage = 'asserts/alarm-working.png'
          }
        }
      }
        
      this.alarmButtonPress = false
      this.alarmBlurTrigger = true
      setTimeout(()=>{
        this.alarmBlurTrigger = false
        console.log(222)
      }, 300)
      this.alarmColorVal = 'initial'
    },
    setAlarmTime() {
      if(this.itemData.needclock)  {
        this.itemData.alarmtime = new Date(Date.now() + parseInt(this.inputVal) * 60 * 1000)
        this.$WebSDK('ipc.dispatchWindowEvent', this.$DataUri.NoteFrame_SetAlarmTime, JSON.stringify(this.itemData))
      }
    },
    onNotifyClockAlarm() {
      this.alarmImage = 'asserts/alarm-normal.png'
      this.$WebSDK('win.show')
      this.$WebSDK('win.bringToFront')
      this.alarmAudio.play()
      this.isNotifyAlarm = true
      this.dynamicTimeId = setInterval(() => {
        if(this.dynamicColor == 'initial')
          this.dynamicColor = 'rgb(238, 238, 148)'
        else
          this.dynamicColor = 'initial'
      }, 200);
    }
  }
}
</script>

<style lang='scss'>
@import '@/css/index.scss';
</style>

<style lang='scss' scoped>
$back-color: rgb(249, 249, 149);
.topdiv {
  width: 100%;
  position: relative;
  flex: 0 0 30px;
  background: $back-color;
  margin: 0;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
}
.captiondiv {
  flex: 1 1 auto;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .logo-link { 
      margin-left: auto;
      margin-top: auto;
      margin-bottom: auto;
      margin-right: auto;
      color: rgb(65, 65, 0);
      font-size: 12px;
      flex: 1 1 auto;
      justify-content: center;
      text-align: center;
  }
}
.btndiv {
  flex: 0 0 30px;
}
.window-close-btn {
  border: none;
  width: 30px;
  height: 30px;
  margin: 0px;
  background: url(/asserts/close-bt.png) 50% 50% no-repeat;
  cursor: default;
  outline: none;
  &:hover {
    background-color:rgb(232, 232, 139);
  }
  &:active {
    filter: brightness(1);
  }
}
.backgrounddiv{
  position: relative;
  width: 100%;
  margin: 0;
  height: 100%;
  background: $back-color;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  //background: url('./img/back.png') no-repeat;
  //border-radius: 0px;
  //background-size: 100% 100%
}
.maindiv {
  width: 100%;
  flex: 1 1 auto;
  background: rgb(255, 255, 153);
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.tipsdiv {
  background: rgb(238, 238, 148);
  flex: 0 0 30px;
  display: flex;
  flex-direction: row;
  justify-content: left;

  .inputInfo {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 5px
  }
  .alarmInfo {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 5px;
    justify-content: center;
    align-items: center;
  }
}
.form-control-sm {
  width: 60px;
  height: 20px;
}
.bottomdiv {
  width: 100%;
  flex: 0 0 20px;
  background: rgb(238, 238, 148);
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: left;

  .alarm-image {
    width: 16px;
    height: 16px;
    margin-left: 4px;
    flex: 0 0 16px;
    margin-top: auto;
    margin-bottom: auto;
    &:hover {
      filter: brightness2();
    }
    &:active {
      background-color:rgb(122, 122, 63);
    }
  }
}
#textarea {
  background: rgb(255, 255, 153);
  outline: none;
  border-color: rgb(238, 238, 148);
  box-shadow: 0 1px 1px rgb(238, 238, 148) inset, 0 0 8px rgb(238, 238, 148);;
}
</style>
