<template>
    <div class="noteitem-backpanel">
        <input type="button" :style="{ 'background-image': getIconUrl }" class="btnimg" ref="buttonItem" @click="onClick($event)" @contextmenu="onPopupMenu($event)"/>
        <textarea class="txt" ref="textItem" spellcheck="false" :value="name_I18n(item.name)" readonly="true" @change="onChange($event)" @blur="onBlur($event)"/>
    </div> 
</template>

<script>

export default {
  props: {
    'id': {
        type: String,
        required: true
    },
    'item': {
        type: Object,
        required: true
    },
    'menus': {
       type: Array,
       required: false
    },
  },
  data () {
    return {
      /**/
    }
  },
  mounted() {
    this.$WebSDK('ipc.addWindowEventListener', ({ uri, data }) => {
       switch (uri) {
         case this.$DataUri.APP_NotePopupMenuClick: {
           let obj = JSON.parse(data)
           if(this.item.hash == obj.item.hash) {
             if(obj.name == 'Rename') {
                this.$refs.textItem.removeAttribute('readonly')
                this.$refs.textItem.select()
                this.$refs.textItem.focus()
             }
             else if(obj.name == 'Delete') {
               this.$VueBus.$emit('onNoteDeleteItem', this.id, this.item)
             }
             else if(obj.name == 'AlwaysOnTop') {
               this.item.alwaysontop = true
               this.$VueBus.$emit('onNoteAlwaysOnTopClick', this.id, this.item)
             }
             else if(obj.name == 'Cancel AlwaysOnTop') {
               this.item.alwaysontop = false
               this.$VueBus.$emit('onNoteCancelAlwaysOnTopClick', this.id, this.item)
             }
           }
           break
         }
        }
    }, this)
    //console.log("createnoteitem:" + this.$data.item)
  },
  computed: {
      getIconUrl() {
        if(this.item.hash == '00000000-0000-0000-0000-000000000000') {
          return 'url(/asserts/note_add.png)'
        }
        else{
          return 'url(/asserts/note_logo.png)'
        }
      },
      name_I18n() {
        return function(name) {
          var n = name.lastIndexOf("(")
          var ret = this.$t(name)
          if(n >= 0) {
            var name1 = name.substr(0, n)
            var name2 = name.substr(n)
            ret = this.$t(name1) + name2
          }
          return ret
        }
      }
  },
  methods: {
    onPopupMenu(event) {
      if(this.item.hash == '00000000-0000-0000-0000-000000000000')
        return
      let obj = {}
      obj.x = event.screenX
      obj.y = event.screenY
      obj.item = this.item
      obj.menus = this.menus

      var pos = -1
      for(var i = 0; i < this.menus.length; i++) {
        if(this.menus[i] == "AlwaysOnTop" || this.menus[i] == "Cancel AlwaysOnTop") {
          pos = i
          break
        }
      }

      if(!this.item.alwaysontop || this.item.alwaysontop == undefined) {
        if(pos == -1)
          this.menus.push('AlwaysOnTop')
        else
          this.menus[pos] = 'AlwaysOnTop'
      }
      else {
        if(pos == -1)
          this.menus.push('Cancel AlwaysOnTop')
        else
          this.menus[pos] = 'Cancel AlwaysOnTop'
      }
      obj.id = this.id
      this.$WebSDK('ipc.dispatchWindowEvent', this.$DataUri.APP_NotePopupMenu, JSON.stringify(obj))
    },
    onClick(event) {
      if(this.item.hash == '00000000-0000-0000-0000-000000000000') {
        this.$VueBus.$emit('onNewNoteWindow')
      }
      else {
        this.$VueBus.$emit('onClickNoteWindow', this.item)
      }
    },
    onChange(event) {
      this.$refs.textItem.setAttribute('readonly', true)
      this.item.name = this.$refs.textItem.value
      this.$VueBus.$emit('onNoteSaveData', this.id, this.item)
    },
    onBlur(event) {
      this.$refs.textItem.setAttribute('readonly', true)
    }
  }
}
</script>

<style lang='scss'>
@import '@/css/index.scss';
</style>

<style lang='scss' scoped>
  $width: 77px;
  $height: 74px;
  .noteitem-backpanel {
    flex: 0 0 $width;
    width: $width;
    height: $height;
    //background-color: red;
    margin: 3px;
    padding: 0px; 
  }
  .btnimg {
    border: none;
    width: 42px;
    height: 40px;
    margin-left: 18px;
    margin-right: 18px;
    margin-top: 0px;
    background: center no-repeat;
    background-size: 32px 32px;
    //background-image: url('./img/img0.png');
    cursor: default;
    outline: none;
    &:hover {
      filter: drop-shadow(0 0 0.5rem rgb(2, 145, 223));
      cursor: pointer;
    }
    &:active {
      filter: drop-shadow(0 0 0.5rem rgb(2, 145, 223));
      cursor: pointer;
    }
  }
  .txt {
    width: $width;
    overflow:hidden;
    resize: none;
    border: none;
    outline: none;
    margin: none;
    text-align: center;
    font-family: "Microsoft YaHei";
    background-color: inherit; 
    -webkit-user-select: none;
    cursor: default;
  }
</style>
