<template>
    <div class="note-backpanel">
        <noteelement ref="notesTagRef" :tagdata="noteData"></noteelement>
    </div> 
</template>

<script>
import noteelement from './note-tag.vue'
export default {
  components: {
    noteelement
  },
  props: {
    
  },
  data () {
    return {
      noteData: {},
      noteFrameObjs: {}
    }
  },
  mounted() {
    this.createNoteTag()
    this.$VueBus.$on('onNewNoteWindow', () => {
      let obj = {}
      obj["hash"] = this.generateGUID()
      obj["name"] = "New Note(" + this.getMaxNoteIndex() + ")"
      obj["createtime"] = this.getNow()
      obj["text"] = ""
      obj["needclock"] = false
      obj["alarmtime"] = new Date()
      obj["alwaysontop"] = false
      if(this.noteFrameObjs[obj["hash"]] == undefined) {
          obj["x"] = window.screen.width - 256 - 50 - 30 * this.objSize(this.noteFrameObjs)
          obj["y"] = 22 + 30 * this.objSize(this.noteFrameObjs)
          this.$WebSDK('sdk.openWindow', '/#/noteframe', 'noteframe', 'left=9999,top=9999,minimizeresizable:0,maximizeresizable:0,forbidsystemclose:1,titlebar:0,topmost:0,taskbaricon:0,windowvisible:0,offscreenrendering:0,guardapp:0').then(r => {
            this.noteFrameObjs[obj["hash"]] = r
            window.connectSignal(this.noteFrameObjs[obj["hash"]].loadStateChanged, (state, data) => {
               if(state == 1){
                  this.noteData['items'].push(obj)
                  this.saveAll()
                  this.$VueBus.$emit('onRefresh', this.noteData['id'])
                  this.$WebSDK('ipc.dispatchWindowEvent', this.$DataUri.NoteFrame_SetData, JSON.stringify(obj))
                  this.$WebSDK('ipc.dispatchWindowEvent', this.$DataUri.NoteFrame_ShowWindow, JSON.stringify(obj))
                }
            });
          })
        }
    })
    this.$VueBus.$on('onClickNoteWindow', (item) =>{
      if(this.noteFrameObjs[item["hash"]] == undefined) {
        var param = 'left=9999,top=9999,minimizeresizable:0,maximizeresizable:0,forbidsystemclose:1,titlebar:0,taskbaricon:0,windowvisible:0,offscreenrendering:0,guardapp:0'
        if(item.alwaysontop == undefined) {
          item.alwaysontop = false
        }
        if(item.alwaysontop == false) {
          param = param + ',topmost:0'
        }
        else {
          param = param + ',topmost:1'
        }
        this.$WebSDK('sdk.openWindow', '/#/noteframe', 'noteframe', param).then(r => {
          this.noteFrameObjs[item["hash"]] = r
          window.connectSignal(this.noteFrameObjs[item["hash"]].loadStateChanged, (state, data) => {
              if(state == 1){
                this.$VueBus.$emit('onRefresh', this.noteData['id'])
                this.$WebSDK('ipc.dispatchWindowEvent', this.$DataUri.NoteFrame_SetData, JSON.stringify(item))
                this.$WebSDK('ipc.dispatchWindowEvent', this.$DataUri.NoteFrame_ShowWindow, JSON.stringify(item))
              }
          });
        })
      }
      else {
        for(let i = 0; i < this.noteData['items'].length; i++) {
          if(this.noteData['items'][i].hash == item.hash) {
            this.$WebSDK('ipc.dispatchWindowEvent', this.$DataUri.NoteFrame_SetData, JSON.stringify(this.noteData['items'][i]))
            this.$WebSDK('ipc.dispatchWindowEvent', this.$DataUri.NoteFrame_ShowWindow, JSON.stringify(this.noteData['items'][i]))
            break
          }
        }
      }
    })
    this.$VueBus.$on('onNoteDeleteItem', (id, item) =>{
      if(id == 'noteTag') {
        for(let i = 0; i < this.noteData.items.length; i++) {
          if(this.noteData['items'][i].hash == item.hash) {
            this.noteData['items'].splice(i, 1)
            this.$VueBus.$emit('onRefresh', this.noteData.id)
            this.saveAll()
            this.$WebSDK('ipc.dispatchWindowEvent', this.$DataUri.NoteFrame_DoCloseWindow, JSON.stringify(item))
            break
          }
        }
      }
    })
    this.$VueBus.$on('onNoteAlwaysOnTopClick', (id, item) =>{
      if(id == 'noteTag') {
        for(let i = 0; i < this.noteData.items.length; i++) {
          if(this.noteData.items[i].hash == item.hash) {
            this.noteData['items'][i].alwaysontop = true
            this.saveAll()
            this.$WebSDK('ipc.dispatchWindowEvent', this.$DataUri.NoteFrame_AlwaysOnTop, JSON.stringify(this.noteData.items[i]))
            break
          }
        }
      }
    })
    this.$VueBus.$on('onNoteCancelAlwaysOnTopClick', (id, item) =>{
      if(id == 'noteTag') {
        for(let i = 0; i < this.noteData.items.length; i++) {
          if(this.noteData.items[i].hash == item.hash) {
            this.noteData['items'][i].alwaysontop = false
            this.saveAll()
            this.$WebSDK('ipc.dispatchWindowEvent', this.$DataUri.NoteFrame_CancelAlwaysOnTop, JSON.stringify(this.noteData.items[i]))
            break
          }
        }
      }
    })
    this.$VueBus.$on('onNoteSaveData', (id, item) =>{
      if(id == 'noteTag') {
        for(let i = 0; i < this.noteData['items'].length; i++) {
          if(this.noteData['items'][i].hash == item.hash) {
            this.noteData['items'][i] = item
            this.$VueBus.$emit('onRefresh', this.noteData.id)
            this.saveAll()
            this.$WebSDK('ipc.dispatchWindowEvent', this.$DataUri.NoteFrame_SetData, JSON.stringify(this.noteData['items'][i]))
            break
          }
        }
      }
    })
    this.$VueBus.$on('onNoteSaveAll', (id) =>{
      if(id == 'noteTag') {
        this.$VueBus.$emit('onRefresh', this.noteData.id)
        this.saveAll()
      }
    })
    this.$WebSDK('ipc.addWindowEventListener', ({ uri, data }) => {
        switch (uri) {
          case this.$DataUri.NoteFrame_CloseWindow: {
            let item = JSON.parse(data)
            delete this.noteFrameObjs[item["hash"]]
            break
          }
          case this.$DataUri.NoteFrame_HideWindow: {
            break
          }
          case this.$DataUri.NoteFrame_SaveData: {
            let item = JSON.parse(data)
            for(var i = 0; i < this.noteData['items'].length; i++) {
              if(this.noteData['items'][i].hash == item.hash) {
                //参数存有旧信息,需只更新变化信息
                this.noteData['items'][i].x = item.x
                this.noteData['items'][i].y = item.y
                this.noteData['items'][i].text = item.text
                break
              }
            }
            this.saveAll()
            break
          }
          case this.$DataUri.NoteFrame_SetAlarmTime: {
            let item = JSON.parse(data)
            for(var k = 0; k < this.noteData['items'].length; k++) {
              if(this.noteData['items'][k].hash == item.hash) {
                //参数存有旧信息,需只更新变化信息
                this.noteData['items'][k].alarmtime = new Date(item.alarmtime)
                this.noteData['items'][k].needclock = item.needclock
                break
              }
            }
            this.saveAll()
            break
          }
        }
    })
    setInterval(() => {
      this.checkAlarmClock()
    }, 3000);
  },
  computed: {
      
  },
  methods: {
    objSize(obj) {
        var size = 0, key;
        for (key in obj) {
            if (obj.hasOwnProperty(key)) size++;
        }
        return size;
    },
    saveAll() {
      if(this.noteData['items'][0].hash != '00000000-0000-0000-0000-000000000000') {
        for(var i = 0; i < this.noteData['items'].length; i++) {
          if(this.noteData['items'][i].hash == '00000000-0000-0000-0000-000000000000') {
            let tmpObj = this.noteData['items'][i]
            this.noteData['items'].splice(i, 1)
            this.noteData['items'].unshift(tmpObj)
            break
          }
        }
      }
      this.$WebSDK('common.setConfig', 'noteData', JSON.stringify(this.noteData))
    },
    generateGUID() {
      var d = new Date().getTime();
      if (typeof performance !== 'undefined' && typeof performance.now === 'function'){
          d += performance.now(); //use high-precision timer if available
      }
      var newGuid = 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c) {
          var r = (d + Math.random() * 16) % 16 | 0;
          d = Math.floor(d / 16);
          return (c === 'x' ? r : (r & 0x3 | 0x8)).toString(16);
      });
      
      return newGuid;
    },
    getNow: function() {
        const today = new Date();
        const date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();
        const time = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
        const dateTime = date +' '+ time;
        return dateTime;
    },
    createNoteTag() {
      this.$WebSDK('common.getConfig', 'noteData').then( r => {
        let noteJsonObj = JSON.parse(r)
        if(noteJsonObj != null) {
            this.noteData = noteJsonObj
            for(var i = 0; i < this.noteData['items'].length; i++) {
              if(!Object.prototype.hasOwnProperty.call(this.noteData['items'][i], 'alarmtime'))
              this.noteData['items'][i].alarmtime = new Date()
            }
        }
        else {
          this.noteData['items'] = []
          let obj = {}
          obj["hash"] = '00000000-0000-0000-0000-000000000000'
          obj["name"] = "New Note"
          obj["createtime"] = this.getNow()
          obj["text"] = ""
          obj["needclock"] = false
          obj["alarmtime"] = new Date()
          this.noteData['items'].push(obj)
        }
          
        let noteMenu = []
        noteMenu.push('Rename')
        noteMenu.push('Delete')
        this.noteData['menus'] = noteMenu
        this.noteData['id'] = 'noteTag'
        this.saveAll()
        this.$VueBus.$emit('onRefresh', this.noteData['id'])
      })
    },
    getMaxNoteIndex() {
      var max = 1
      for(var i = 0; i < this.noteData['items'].length; i++) {
        var namestr = this.noteData['items'][i].name
        var m = namestr.lastIndexOf(")")
        var n = namestr.lastIndexOf("(")
        var des = m - n
        if(des > 1 && m >= 0 && n >= 0) {
          var subStr = namestr.substr(n + 1, m - n - 1)
          if(subStr.match(/^-{0,1}\d+$/)) {
            if(parseInt(subStr, 10) > max) {
              max = parseInt(subStr, 10)
            }
          }
        }
      }
      return max + 1
    },
    checkAlarmClock() {
      for(var i = 0; i < this.noteData['items'].length; i++) {
        if(this.noteData['items'][i].needclock && this.noteData['items'][i].alarmtime.valueOf() <= Date.now()) {
          this.noteData['items'][i].needclock = false
          if(this.noteFrameObjs[this.noteData['items'][i].hash] != undefined) {
            this.$WebSDK('ipc.dispatchWindowEvent', this.$DataUri.NoteFrame_NotifyClockAlarm, JSON.stringify(this.noteData['items'][i]))
          }
          this.saveAll()
        }
      }
    }
  }
}
</script>

<style lang='scss'>
@import '@/css/index.scss';
</style>

<style lang='scss' scoped>
  .note-backpanel {
    flex: 1 1 auto;
    background-color: beige;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
  }
</style>
